form {
    max-width: 400px;
    /* Set a max-width for better responsiveness */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    /* Optional: Add a border for better visualization */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add box shadow */
    border-radius: 8px;
    /* Optional: Add border-radius for rounded corners */
}

.headLine {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.form-floating {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.upperCaseHeader {
    color: #333;
    font-size: 14px;
}

.d-grid {
    display: grid;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.reqFeature {
    background: #002244;
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(6, 2, 23, 1) 35%, rgba(0, 212, 255, 1) 100%); */
}

.mainContainer {
    margin-left: 50px;
    margin-right: 50px;
}

.likeBtn {
    display: flex;
    justify-content: end;

}

.likeCount {
    display: flex;
    flex-direction: column;
}